@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">
		Ball Pit
	</div>

	<div class="info">

	</div>

	<div class="table">
		<div class="header row">
			<div style="justify-content: flex-start; flex-grow: 1;">
				<div class="name">Name</div>
			</div>
			<div style="justify-content: flex-end; flex-grow: 1;">
				<div class="stat_wins" style="padding-right: 30px;">Wins</div>
				<div class="stat" style="padding-right: 40px;">Losses</div>
				<div class="stat" style="padding-right: 52px;">Time</div>
				<div class="stat" style="padding-right: 0px;">Ping</div>
			</div>
		</div>

		@{
			var rowNum = 0;
		}

		@foreach(var player in Scene.GetAllComponents<PlayerController>().ToList().OrderByDescending(x => x.NumMatchWins))
		{
			// todo: need to handle displaying a large amount of players

			var connection = player.Network.OwnerConnection;
			var nameColor = (Manager.Instance.GetConnection(0) == connection ? Manager.Player0NameColor : (Manager.Instance.GetConnection(1) == connection ? Manager.Player1NameColor : new Color(1f, 1f, 1f)));

			string specialClass = "";
			if(connection == Connection.Local)
				specialClass = "me";

			<div class="row @(rowNum % 2 == 0 ? "even_row" : "odd_row")">
				<div class="avatar" style="background-image: url( avatar:@connection.SteamId )"></div>
				<div class="name @specialClass" style="color:@(nameColor.Rgba);">
					@connection.DisplayName

					@if(connection.IsHost)
					{
						<div style="color: #fff; opacity:0.1; padding-left: 8px; font-family: Proxima Soft;">@("(host)")</div>
					}
				</div>
				<div class="stat_container">
					<div class="stat_kills">@($"{player.NumMatchWins}")</div>
					<div style="font-family: W10Emoji; font-size:18px;">@("🏆")</div>
				</div>
				<div class="stat_container">
					<div class="stat">@($"{player.NumMatchLosses}")</div>
					<div style="font-family: W10Emoji; font-size:18px;">@("💀")</div>
				</div>
				<div class="stat_container">
					<div class="stat" style="opacity:0.3;">@GetTime(connection)</div>
				</div>
				<div class="stat_container">
					<div class="stat" style="opacity:0.3;">@(MathF.Round(connection.Ping))</div>
				</div>
			</div>

			rowNum++;
		}
	</div>

</root>

@code
{

	string GetTime(Connection c)
	{
		TimeSpan time = DateTime.UtcNow - c.ConnectionTime;
		return time.TotalSeconds > 3600 ? time.ToString(@"hh\:mm\:ss") : time.ToString(@"mm\:ss");
	}

	protected override void OnUpdate()
	{
		SetClass("hidden", !(Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered));
	}

	protected override int BuildHash() 
	{
		var seconds = RealTime.Now;
		var wholeSeconds = seconds.CeilToInt();
		var tenthSeconds = (int)((seconds - (int)seconds) * 10f);

		return System.HashCode.Combine(wholeSeconds, tenthSeconds);
	}
}
