@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(TargetObject == null || ShopItem == null)
	{
		return;
	}

	@{
		var player = Manager.Instance.GetPlayer(ShopItem.PlayerNum);
		var money = player?.Money ?? 0;
		var rarity = Manager.Instance.GetRarityForUpgrade(ShopItem.UpgradeType);
	}

	<!-- <div class="bg" style="background-image: url(@($"materials/icons/{Globals.GetIconForUpgrade(ShopItem.UpgradeType)}.png"));"></div> -->
	<!-- <div class="icon" style="opacity:@((Manager.Instance.HoveredObject == TargetObject ? 1f : 0.9f) * (money >= ShopItem.Price ? 1f : 0.4f));">@(Manager.Instance.GetIconForUpgrade(ShopItem.UpgradeType))</div> -->
	<div class="icon" style="opacity:@((money >= ShopItem.Price ? 1f : 0.4f)); text-stroke: @(Manager.GetOutlineSizeForRarity(rarity))px @(Manager.GetColorForRarity(rarity).Rgba);">@(Manager.Instance.GetIconForUpgrade(ShopItem.UpgradeType))</div>

	<div class="price" style="color: @((money >= ShopItem.Price ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.3f, 0.3f)).Rgba);">@($"${ShopItem.Price}")</div>

	@if(ShopItem.NumLevels > 1) 
	{
		<div class="level" style="right: -10px; top: 8px;">@($"{ShopItem.NumLevels}")</div>
	}

	<!--
	@if(Manager.Instance.HoveredObject == TargetObject)
	{
		var pos = Scene.Camera.PointToScreenNormal(TargetObject.Transform.Position);
		<div class="overlay" style="left:@(pos.x + 10)px; top:@(pos.y + 10)px;"></div>
	}
	-->
</root>

@code
{
	[Property] public GameObject TargetObject { get; set; }
	public ShopItem ShopItem { get; private set; }

	protected override void OnUpdate()
	{
		ShopItem = TargetObject?.Components.Get<ShopItem>() ?? null;
	}

	protected override int BuildHash() 
	{
		return System.HashCode.Combine(TargetObject, ShopItem.UpgradeType, ShopItem.NumLevels, ShopItem.Price, Manager.Instance.HoveredObject);
	}
}
