@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@{
		var itemNum = 0;
	}

	@foreach(var shopItem in Scene.GetAllComponents<ShopItem>())
	{
		var pos = shopItem.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;
		var upgradeType = shopItem.UpgradeType;
		var rarity = Manager.Instance.GetRarityForUpgrade(upgradeType);
		var isPassive = Manager.Instance.IsUpgradePassive(upgradeType);

		var player = Manager.Instance.GetPlayer(shopItem.PlayerNum);
		var money = player?.Money ?? 0;
		var maxLevel = Manager.Instance.GetMaxLevelForUpgrade(upgradeType);
		var playerLevel = player?.GetUpgradeLevel(upgradeType) ?? 0;

		<div class="icon @(isPassive ? "passive_icon" : "")" style="left: @(screenPos.x - 50 + shopItem.IconOffset.x)px; top: @(screenPos.y - 50 - shopItem.IconOffset.y)px; opacity:@((money >= shopItem.Price && playerLevel < maxLevel ? 1f : 0.4f)); text-stroke: @(Manager.GetOutlineSizeForRarity(rarity))px @(Manager.GetColorForRarity(rarity).Rgba);
		text-shadow: @(-shopItem.ShadowDistance)px @(shopItem.ShadowDistance)px @(shopItem.ShadowBlur)px @(Color.Black.WithAlpha(shopItem.ShadowOpacity).Rgba);">
			@(Manager.Instance.GetIconForUpgrade(upgradeType))
		</div>

		<div class="price" style="left: @(screenPos.x - 60)px; top: @(screenPos.y - 44 + Utils.FastSin(itemNum + shopItem.PlayerNum + Time.Now * 3f) * 3.5f)px; color: @((money >= shopItem.Price ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.2f, 0.2f)).Rgba);">
			@($"${shopItem.Price}")
		</div>

		@if(shopItem.NumLevels > 1)
		{
			<div class="level" style="left: @(screenPos.x + 5 + shopItem.IconOffset.x)px; top: @(screenPos.y - 40 - shopItem.IconOffset.y)px; opacity:@((money >= shopItem.Price && playerLevel < maxLevel ? 1f : 0.4f));">@($"{shopItem.NumLevels}")</div>
		}

		itemNum++;
	}

	@foreach(var rerollButton in Scene.GetAllComponents<RerollButton>()) 
	{
		var pos = rerollButton.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;

		var player = Manager.Instance.GetPlayer(rerollButton.PlayerNum);
		if(player != null) 
		{
			var canAfford = player.Money >= player.CurrRerollPrice;

			<div class="reroll" style="left: @(screenPos.x - 58 + rerollButton.IconOffset.x)px; top: @(screenPos.y - 20 - rerollButton.IconOffset.y)px; opacity:@(canAfford ? 1f : 0.6f); color: @((canAfford ? Color.White : new Color(0.4f, 0f, 0f)).Rgba);
			text-shadow: @(-rerollButton.ShadowDistance)px @(rerollButton.ShadowDistance)px @(rerollButton.ShadowBlur)px @(Color.Black.WithAlpha(rerollButton.ShadowOpacity).Rgba);">
				Reroll
			</div>

			<div class="price" style="left: @(screenPos.x - 72)px; top: @(screenPos.y - 46 + Utils.FastSin(0.75f + rerollButton.PlayerNum + Time.Now * 3f) * 3.5f)px; color: @((canAfford ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.3f, 0.3f)).Rgba);">@($"${player.CurrRerollPrice}")</div>
		}
	}

	@foreach(var skipButton in Scene.GetAllComponents<SkipButton>())
	{
		var pos = skipButton.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;

		<div class="skip" style="left: @(screenPos.x - 60 + skipButton.IconOffset.x)px; top: @(screenPos.y - 20 - skipButton.IconOffset.y)px; color:@((skipButton.FlashToggle ? new Color(0.6f, 0.6f, 0f) : new Color(1f, 1f, 1f)).Rgba);
		text-shadow: @(-skipButton.ShadowDistance)px @(skipButton.ShadowDistance)px @(skipButton.ShadowBlur)px @(Color.Black.WithAlpha(skipButton.ShadowOpacity).Rgba);">
			Skip
		</div>
	}
</root>

@code
{
	protected override int BuildHash() 
	{
		var numItems = 0;
		numItems += Scene.GetAllComponents<ShopItem>().Count();
		numItems += Scene.GetAllComponents<RerollButton>().Count();
		numItems += Scene.GetAllComponents<SkipButton>().Count();

		return System.HashCode.Combine(numItems > 0 ? Time.Now : 0f);
	}
}
