@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@{
		var itemNum = 0;
	}

	@foreach(var shopItem in Scene.GetAllComponents<ShopItem>())
	{
		var pos = shopItem.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;
		var rarity = Manager.Instance.GetRarityForUpgrade(shopItem.UpgradeType);

		var player = Manager.Instance.GetPlayer(shopItem.PlayerNum);
		var money = player?.Money ?? 0;

		<div class="icon" style="left: @(screenPos.x - 40)px; top: @(screenPos.y - 40)px; opacity:@((money >= shopItem.Price ? 1f : 0.4f)); text-stroke: @(Manager.GetOutlineSizeForRarity(rarity))px @(Manager.GetColorForRarity(rarity).Rgba);">@(Manager.Instance.GetIconForUpgrade(shopItem.UpgradeType))</div>

		<div class="price" style="left: @(screenPos.x - 60)px; top: @(screenPos.y - 44 + Utils.FastSin(itemNum + shopItem.PlayerNum + Time.Now * 3f) * 3.5f)px; color: @((money >= shopItem.Price ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.3f, 0.3f)).Rgba);">
			@($"${shopItem.Price}")
		</div>

		@if(shopItem.NumLevels > 1)
		{
			<div class="level" style="left: @(screenPos.x + 5)px; top: @(screenPos.y - 40)px; opacity:@((money >= shopItem.Price ? 1f : 0.4f));">@($"{shopItem.NumLevels}")</div>
		}

		itemNum++;
	}

	@foreach(var rerollButton in Scene.GetAllComponents<RerollButton>()) 
	{
		var pos = rerollButton.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;

		var player = Manager.Instance.GetPlayer(rerollButton.PlayerNum);
		if(player != null) 
		{
			var canAfford = player.Money >= player.CurrRerollPrice;

			<div class="reroll" style="left: @(screenPos.x - 58)px; top: @(screenPos.y - 20)px; opacity:@(canAfford ? 1f : 0.6f); color: @((canAfford ? Color.White : new Color(0.4f, 0f, 0f)).Rgba);">Reroll</div>
			<div class="price" style="left: @(screenPos.x - 72)px; top: @(screenPos.y - 46 + Utils.FastSin(0.75f + rerollButton.PlayerNum + Time.Now * 3f) * 3.5f)px; color: @((canAfford ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.3f, 0.3f)).Rgba);">@($"${player.CurrRerollPrice}")</div>
		}
	}

	@foreach(var skipButton in Scene.GetAllComponents<SkipButton>())
	{
		var pos = skipButton.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;

		<div class="skip" style="left: @(screenPos.x - 60)px; top: @(screenPos.y - 20)px; color:@((skipButton.FlashToggle ? new Color(0.6f, 0.6f, 0f) : new Color(1f, 1f, 1f)).Rgba);">Skip</div>
	}
</root>

@code
{
	protected override int BuildHash() 
	{
		var numItems = 0;
		numItems += Scene.GetAllComponents<ShopItem>().Count();
		numItems += Scene.GetAllComponents<RerollButton>().Count();
		numItems += Scene.GetAllComponents<SkipButton>().Count();

		return System.HashCode.Combine(numItems > 0 ? Time.Now : 0f);
	}
}
